// start header section 
.navbar{
    background-color: $whitesmoke;
    h1{
        color: $logo-para-brown;
        letter-spacing: 2px;
        @include font-style($font-light-bold);
    }
    .navbar-nav{
        li{
            a{
                color:$menu-brown;
                font-size: 15px !important; 
                &:hover{
                    color: $btn-orange;
                }
                @include media-min-xl{
                    font-size: 15px !important;
                }
            }
            .active{
                color: $btn-orange;
            }
            .button{
                color: $white;
                padding: 7px 20px;
                background-color: $btn-orange;
                border-radius: 30px;
                &:hover{
                    color: $white;
                    background-color: $orangered;
                }
            }
        }
    }
}
// end header section 